.price {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    color: $main-color;
    background-color: #f8f8f8;
    border-radius: 28px;
    width: 350px;
    z-index: 0;
    font-family: "Bitter", serif;
    font-weight: 700;
    box-shadow: 3px 3px 4px 0px rgba(#000000, 0.25);
    border: red 1px solid;

    animation: priceAnim 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    @keyframes priceAnim {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
