@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Bitter"), url("/fonts/Bitter.woff2") format("woff2"),
        url("/fonts/Bitter.woff") format("woff");
}

@font-face {
    font-family: "Bitter";
    font-style: bold;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Bitter"), url("/fonts/Bitterbold.woff2") format("woff2"),
        url("/fonts/Bitterbold.woff") format("woff");
}

body {
    overflow-x: hidden;
    font-family: "Bitter", serif;
    font-weight: 700;
}

.page-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.background-city {
    width: 100%;
    height: 737px;
    background-image: url(../img/Group_mobile.svg);
    background-repeat: no-repeat;
    margin-top: -500px;
    margin-bottom: -250px;
    z-index: 0;

    animation: cityAnim 1s;
    @keyframes cityAnim {
        from {
            transform: translate(0px, 1000px);
            opacity: 0;
        }
        to {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    // &::before {
    //     position: absolute;
    //     z-index: -3;
    //     content: url(../img/Group_mobile.svg);
    //     // left: -400px;
    //     top: 362px;

    //     animation: cityAnim 1s;
    //     @keyframes cityAnim {
    //         from {
    //             transform: translate(0px, 1000px);
    //             opacity: 0;
    //         }
    //         to {
    //             transform: translate(0px, 0px);
    //             opacity: 1;
    //         }
    //     }
    // }
}

.background-cloud {
    display: flex;
    justify-content: center;
    &::before {
        position: absolute;
        content: url(../img/noto-v1_cloud.svg);
        top: 13%;
        left: 0%;

        animation: cloudAnim 0.5s;
        animation-delay: 0.7s;
        animation-fill-mode: backwards;
        @keyframes cloudAnim {
            from {
                transform: translate(-200px, 0px);
                opacity: 0;
            }
            to {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
}

.background-sun {
    display: flex;
    justify-content: center;
    &::before {
        position: absolute;
        content: url(../img/noto-v1_sun-behind-small-cloud.svg);
        top: 18%;
        right: 0%;

        animation: sunAnim 0.5s;
        animation-delay: 1s;
        animation-fill-mode: both;
        @keyframes sunAnim {
            from {
                transform: translate(200px, 0px);
                opacity: 0;
            }
            to {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
}

.background-light {
    display: flex;
    justify-content: center;
    &::before {
        position: absolute;
        z-index: -4;
        content: url(../img/Vector_16.svg);
        top: 68px;

        animation: lightAnim 2s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
        @keyframes lightAnim {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}

@media (min-width: $tablet-width) {
    .background-cloud::before {
        content: url(../img/noto-v1_cloud-tablet.svg);
    }

    .background-sun::before {
        content: url(../img/noto-v1_sun-behind-small-cloud-tablet.svg);
    }

    .background-city {
        background-image: url(../img/Group.svg);
    }

    .background-light {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .background-city {
        margin-top: -470px;
        &::after {
            position: absolute;
            content: url(../img/Group_after.svg);
            left: 1440px;
            // top: 409px;

            // animation: cityAfterAnim 0s;
            // @keyframes cityAfterAnim {
            //     from {
            //         transform: translate(0px, 1000px);
            //         opacity: 0;
            //     }
            //     to {
            //         transform: translate(0px, 0px);
            //         opacity: 1;
            //     }
            // }
        }
    }

    .background-light {
        display: none;
    }
}

@media (min-width: 1300px) {
    .background-cloud::before {
        top: 3%;
    }

    .background-sun::before {
        top: 1%;
    }
}
