.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 1px solid;

    animation: headAnim 1s;
    @keyframes headAnim {
        from {
            transform: translate(0px, -200px);
            opacity: 0;
        }
        to {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}

.page-header__logo-image1 {
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 38px;
    margin-top: 33px;
    margin-bottom: -38px;
    border: red 1px solid;

    &:focus {
        outline: none;
    }
}

.page-header__logo-image2 {
    display: flex;
    position: relative;
    z-index: -1;
    box-shadow: 3 2 4px 2px rgba(#856b8e, 0.5);
    border: red 1px solid;
}

.page-header__button {
    width: 50px;
    height: 50px;
    background-image: url(../img/eva_arrow-ios-downward-fill.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    z-index: 1;

    &:active {
        background: url(../img/eva_arrow-ios-downward-fill.svg) center/30px 30px
                no-repeat,
            linear-gradient(
                0deg,
                rgba(111, 75, 124, 1) 0%,
                rgba(116, 88, 126, 1) 17%,
                rgba(133, 107, 142, 1) 100%
            );
    }
}

@media (min-width: $tablet-width) {
    .page-header__logo-image1 {
        margin-left: 65px;
        margin-top: 33px;
        margin-bottom: -66px;
    }

    .page-header__button {
        display: none;
    }
}
