.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: headAnim 1s;
    @keyframes headAnim {
        from {
            transform: translate(0px, -200px);
            opacity: 0;
        }
        to {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}

.page-header__logo-image1 {
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 38px;
    margin-top: 33px;
    margin-bottom: -38px;

    &:focus {
        outline: none;
    }
}

.page-header__logo-image2 {
    display: flex;
    position: relative;
    z-index: -1;
    box-shadow: 3 2 4px 2px rgba(#856b8e, 0.5);
}

.page-header__button {
    width: 50px;
    height: 50px;
    background-image: url(../img/eva_arrow-ios-downward-fill.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    z-index: 1;

    &:active {
        background: url(../img/eva_arrow-ios-downward-fill.svg) center/30px 30px
                no-repeat,
            linear-gradient(
                0deg,
                rgba(111, 75, 124, 1) 0%,
                rgba(116, 88, 126, 1) 17%,
                rgba(133, 107, 142, 1) 100%
            );
    }
}

.page-header__order {
    font-family: "Bitter", serif;
    font-weight: 800;
    color: $main-color;
    width: 100px;
    text-align: center;
    transform: rotate(-25deg);
    position: relative;
    top: 40px;
    right: 70px;

    &::before {
        position: absolute;
        content: url(../img/Vector_17.svg);
        transform: rotate(25deg);
        top: -90px;
        right: 10px;
    }
}

@media (min-width: $tablet-width) {
    .page-header__logo-image1 {
        margin-left: 65px;
        margin-top: 33px;
        margin-bottom: -66px;
    }

    .page-header__button {
        display: none;
    }

    .page-header__order {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .page-header__logo-image1 {
        margin-left: 78px;
        margin-top: 33px;
        margin-bottom: -73px;
    }
}
