.button {
    border: none;
    border-radius: 60px;
    background-color: #856b8e;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #9a6fa8;
        outline: none;
    }

    &:focus {
        background-color: #9a6fa8;
        outline: none;
    }

    &:active {
        border: none;
        outline: none;
        color: #e9e8e8;
    }
}
