.main-form-fieldset__label {
    font-size: 23px;
    margin-bottom: 30px;
}

.main-form-fieldset {
    color: #856b8e;
    border: none;
    background-color: #f8f8f8;
    width: 350px;
    border-radius: 28px;
    box-shadow: 3px 3px 4px 0px rgba(#000000, 0.25);
    margin-top: 22px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-fieldset__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 320px;
    padding-left: 30px;
}

.main-form-fieldset__item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;

    &-button {
        padding: 13px 26px 13px 26px;
        box-shadow: 3px 3px 4px 0px rgba(#856b8e, 0.35);

        &:active {
            background: linear-gradient(
                0deg,
                rgba(111, 75, 124, 1) 0%,
                rgba(116, 88, 126, 1) 17%,
                rgba(133, 107, 142, 1) 100%
            );
        }
    }
}

.main-form-fieldset__item-label {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: -25px;
    padding-top: 14px;

    &--check::before {
        content: "";
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 7px;
        box-shadow: inset -1px -1px 4px 0px rgba(#856b8e, 0.37);
    }

    &--check:hover::before {
        border: #856b8e 1px solid;
    }

    &--check::after {
        content: none;
        position: absolute;
        top: 15px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-image: url(../img/emojione-v1_left-check-mark.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.main-form-fieldset__item-field {
    border: none;
    border-radius: 13px;
    box-shadow: inset -1px -1px 4px 0px rgba(#856b8e, 0.37);
    margin-right: 10px;
    height: 38px;
    color: #856b8e;
    padding-left: 10px;

    &:hover {
        box-shadow: 0px 0px 0px 1px rgba(#856b8e, 1);
    }

    &:focus {
        box-shadow: 0px 0px 0px 1px rgba(#856b8e, 1);
        outline: none;
    }

    &::placeholder {
        font-family: "Arial", serif;
        font-style: italic;
        font-size: 12px;
        padding-left: 10px;
    }

    &--pay {
        width: 205px;
        padding-left: 10px;
    }

    &--big {
        height: 200px;
        padding-top: 10px;
        width: 195px;

        &::placeholder {
            padding-top: 10px;
        }
    }

    &--check:checked + .main-form-fieldset__item-label--check::after {
        content: "";
    }

    &--check:focus + .main-form-fieldset__item-label--check::before {
        border: #856b8e 1px solid;
    }
}

@media (min-width: $tablet-width) {
    .main-form-fieldset {
        width: 500px;
        margin-top: -60px;
    }

    .main-form-fieldset__label {
        margin-top: 60px;
    }

    .main-form-fieldset__list {
        width: 450px;
    }

    .main-form-fieldset__item-field {
        width: 300px;
    }

    .main-form-fieldset__item-label {
        width: 270px;

        &--check::before {
            top: 7px;
            right: -195px;
        }

        &--check::after {
            top: 7px;
            right: -195px;
        }
    }
}

@media (min-width: $desktop-width) {
    .main-form-fieldset {
        width: 580px;
        margin-top: -80px;
    }

    .main-form-fieldset__list {
        width: 520px;
    }

    .main-form-fieldset__item-field {
        width: 480px;
    }

    .main-form-fieldset__item-label {
        width: 300px;

        &--check::before {
            right: -235px;
        }

        &--check::after {
            right: -235px;
        }
    }
}
