.page-footer {
    border: red 1px solid;
}

.page-footer__social {
    display: flex;
    background-color: white;
    border-radius: 18px;
    width: 260px;
    height: 72px;
    padding: 5px 5px 0px 5px;
    margin-bottom: 35px;
}

.page-footer__social-item {
    margin: auto;
    cursor: pointer;
}

.page-footer {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
