.main-form {
    display: flex;
    justify-content: center;
    font-family: "Bitter", serif;
    font-weight: bold;
    margin-top: -370px;
    visibility: hidden;
    z-index: 0;

    animation: formAnim 1s;
    animation-fill-mode: forwards;
    @keyframes formAnim {
        from {
            transform: translate(0px, 1px);
            opacity: 1;
        }
        to {
            transform: translate(0px, -301px);
            opacity: 0;
        }
    }
}

.main-form--open {
    display: flex;
    justify-content: center;
    font-family: "Bitter", serif;
    font-weight: bold;
    margin-top: -370px;
    z-index: 0;
    // visibility: hidden;

    animation: formOpenAnim 0.5s;
    @keyframes formOpenAnim {
        from {
            transform: translate(0px, -300px);
            opacity: 0;
        }
        to {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
}

// @media (min-width: $tablet-width) {
//     .main-form-fieldset {
//         visibility: visible;
//     }
// }
