.main-form {
    display: flex;
    justify-content: center;
    font-family: "Bitter", serif;
    font-weight: bold;
    visibility: hidden;
}

.main-form--open {
    display: flex;
    justify-content: center;
    font-family: "Bitter", serif;
    font-weight: bold;
    // visibility: hidden;
}
